h1 {
 color: blue;
 text-align: center;
 font-size: 2em;
}
#twitter {
	width:500px;
	text-align:center;
	border: 2px solid black;
	font-size: 3em;
	padding:50px;
	margin: 150px 0px 0px 25px;
}
#cats {
	width: 150px;
	border: 1px dotted black;
	float: right;
}
#body {
	float:left;
	width: 500px;
}
img {
	float:right;
	width: 400px;
}
p {
	width:500px;
	margin-top: 65px;
}